@mixin border-bottom-dotted {
	border-bottom: 1px dotted $blue-color;
}

$blue-color: $blue-color;

.header {
	padding: 10px 0 21px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 208px 10px auto 10px auto 10px 208px;
	grid-template-columns: 208px 10px auto 10px auto 10px 208px;
	grid-template-areas:
		'region . . . . . cabinet'
		'logo . contacts . voip . basket';
	@media all and (max-width: 1150px) {
		-ms-grid-columns: auto 10px auto 10px auto 10px 110px 60px;
		grid-template-columns: auto 10px auto 10px auto 10px 110px 60px;
		grid-template-areas:
			'logo . contacts . voip . basket menu'
			'logo . contacts . voip . region region'
			'logo . contacts . voip . cabinet cabinet';
	}
}

.header-region {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	grid-area: region;
	&__choose {
		@include border-bottom-dotted;
		background: transparent;
		border-left: none;
		border-right: none;
		border-top: none;
		color: $blue-color;
		padding: 0;
		margin-left: 10px;
	}
	@media all and (max-width: 1150px) {
		-ms-grid-column: 7;
		-ms-grid-column-span: 2;
		-ms-grid-row: 2;
		text-align: right;
	}
}

.header-to-cabinet {
	-ms-grid-column: 7;
	-ms-grid-row: 1;
	grid-area: cabinet;
	text-align: right;
	a {
		text-decoration: none;
		color: $blue-color;
		border-bottom: 1px solid $blue-color;
		&:last-child {
			margin-left: 20px;
		}
		&:hover {
			border-bottom-color: transparent;
		}
	}
	@media all and (max-width: 1150px) {
		-ms-grid-column: 7;
		-ms-grid-column-span: 2;
		-ms-grid-row: 3;
	}
}

.header__logo {
	-ms-grid-column: 1;
	-ms-grid-row: 2;
	grid-area: logo;
	height: 63px;
	width: 198px;
	background: url(../images/logo.png) no-repeat 0 0;
	background-size: contain;
	display: inline-block;
	margin-top: 16px;
	@media all and (max-width: 1150px) {
		-ms-grid-column: 1;
		-ms-grid-row: 1;
		-ms-grid-row-span: 3;
	}
}

.header-contacts {
	-ms-grid-column: 3;
	-ms-grid-row: 2;
	grid-area: contacts;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 4px;
	&__call-back {
		padding: 14px 25px 0 10px;
		width: 120px;
		height: 65px;
		box-sizing: border-box;
		text-align: center;
		margin-right: 10px;
		background: url(../images/call-back-back.svg) no-repeat;
		background-size: 100% auto;
	}
	&__link {
		@include border-bottom-dotted;
		@include roboto;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 16px;
		color: $blue-color;
		text-decoration: none;
	}
	&__phone {
		@include roboto;
		font-size: 22px;
		line-height: 20px;
		margin-bottom: 4px;
	}
	&__information {
		line-height: 20px;
	}
	&__messengers {
		display: flex;
		align-items: center;
	}
	&__icons {
		display: inline-block;
		width: 35px;
		height: 18px;
		margin-right: 5px;
		background: url(../images/header-contacts-icon.png) no-repeat 0 0;
	}

	@media all and (max-width: 1150px) {
		-ms-grid-column: 3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 3;
		justify-content: flex-start;
		&__call-back {
			display: none;
		}
	}
}

.header-voip {
	-ms-grid-column: 5;
	-ms-grid-row: 2;
	grid-area: voip;
	margin-top: 4px;
	@include roboto;
	&__header {
		text-transform: uppercase;
		display: flex;
		align-items: center;
		margin-bottom: 12px;
	}
	&__title {
		font-style: italic;
		font-size: 16px;
		line-height: 18px;
		margin-left: 5px;
		&--orange {
			color: $orange-color;
			font-size: 17px;
		}
	}
	&__search {
		width: 230px;
		padding: 3px;
		box-sizing: border-box;
		background: #eff0f4;
		display: flex;
		justify-content: space-between;
		border-radius: 4px;
	}
	&__search-input {
		background: transparent;
		border: none;
		margin-left: 10px;
	}
	&__search-button {
		border: none;
		background: $orange-color;
		color: $white-color;
		padding: 5px 10px;
		border-radius: 4px;
	}
	@media all and (max-width: 1150px) {
		-ms-grid-column: 5;
		-ms-grid-row: 1;
		-ms-grid-row-span: 3;
	}

	@media all and (max-width: 900px) {
		display: none;
	}
}

.header-basket {
	-ms-grid-column: 7;
	-ms-grid-row: 2;
	grid-area: basket;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media all and (min-width: 1150px) {
		&__button {
			display: none;
		}
		&__setting {
			display: flex;
			width: 195px;
			height: 52px;
			justify-content: flex-start;
			padding-left: 16px;
			align-items: center;
			background: url(../images/basket.png) no-repeat;
			margin-bottom: 4px;
			text-decoration: none;
			color: $default-color;
		}
		&__icon {
			margin-right: 14px;
		}
		&__title {
			@include roboto;
			text-transform: uppercase;
			font-weight: 600;
		}
		&__amount {
			color: $blue-color;
			text-decoration: underline;
		}
		&__more-setting {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		&__more-setting-link {
			@include border-bottom-dotted;
			text-decoration: none;
			display: flex;
			align-items: center;
			&:last-child {
				margin-left: 20px;
			}
		}
		&__more-setting-title {
			margin: 0 5px;
			font-size: 11px;
			color: #363c3e;
		}
		&__more-setting-count {
			color: $blue-color;
		}
	}
	@media all and (max-width: 1150px) {
		-ms-grid-column: 7;
		-ms-grid-row: 1;
		text-align: right;
		padding: 0;
		&__button {
			background: transparent;
			border: none;
			padding: 4px;
		}
		&__setting,
		&__more-setting {
			display: none;
		}
	}
}

.menu-button {
	grid-area: menu;
	display: none;
	background: transparent;
	border: none;
	padding: 5px;
	@media all and (max-width: 1150px) {
		display: block;
		position: relative;
		z-index: 99;
	}
	&__close {
		display: none;
	}
	&.open {
		.menu-button__close {
			display: block;
		}
		.menu-button__open {
			display: none;
		}
	}
	@media all and (max-width: 1150px) {
		-ms-grid-column: 9;
		-ms-grid-row: 1;
	}
}
