section.banner 
    .banner__inform-line 
        span.banner__inform-text--bold Более 2000 товаров
        |  от 40+ производителей в одном магазине. 
        span.banner__inform-text--blue Любые решения под ключ.
    .banner-slider
        ul.rslides
            - var n = 0
            while n < 5
                li.banner-slider__item(=n++)
                    img(src="flood/banner-image.jpg" alt="")
                    button.banner-slider__button Подробнее
