.top-panel.jq-top-panel
    nav.top-panel__links
        .top-panel__link
            a(href="/") Каталог
            span.top-panel__link-icon
                include svg-icon/top-panel-bottom-arrow.svg
            .top-panel__sub-links
                each link in topLinks
                    .top-panel__sub-link
                        a(href="/") #{link}        
        .top-panel__link
            a(href="/") О компании
            span.top-panel__link-icon
                include svg-icon/top-panel-bottom-arrow.svg
            .top-panel__sub-links
                each link in topLinks
                    .top-panel__sub-link
                        a(href="/") #{link}  
        each link in topLinks
            .top-panel__link
                a(href="/") #{link}