@import 'components/reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}
@mixin wrapper {
	max-width: 1140px;
	min-width: 700px;
	box-sizing: border-box;
	margin: 0 auto;
}

$default-color: #040d0d;
$orange-color: #ff5816;
$blue-color: #4673ab;
$white-color: #ffffff;

html {
	height: 100%;
	overflow: visible;
}

body {
	font-family: 'Roboto Light', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: $default-color;
	height: 100%;
	&.no-scroll {
		overflow: hidden;
	}
}

input,
button {
	outline: none;
}

h2 {
	font-size: 22px;
	margin: 0 0 10px 0;
	@include roboto;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px 0;
}

a {
	color: $blue-color;
}

.wrapper {
	@include wrapper;
	padding: 0 20px;
}

.main {
	padding: 20px 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 30px 3fr;
	grid-template-columns: 1fr 30px 3fr;
	grid-template-areas: 'news . banner';
	@media all and (max-width: 1150px) {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: 'banner' 'news';
	}
}

@import 'components/header';
@import 'components/top-panel';
@import 'components/header-links';
@import 'components/news';
@import 'components/banner';
