doctype html
html(lang="en")
    head
        title Prog product
        link(rel='stylesheet' href='css/styles.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="js/responsiveslides.min.js")
    block variables
        -   
            topLinks = ["Оплата и доставка", "Гарантии и возврат", "Сотрудничество", "Услуги", "Решения", "Техподдержка", "Контакты"]
            headerLinks = ["VOIP<br/> ОБОРУДОВАНИЕ", "SKYPE<br/> ОБОРУДОВАНИЕ", "GSM<br/> ОБОРУДОВАНИЕ", "ВИДЕО-<br/> ОБОРУДОВАНИЕ", "РАДИО И DECT<br/> ТЕЛЕФОНЫ", "ГАРНИТУРЫ", "ЭЛЕКТРОННЫЕ<br/> ЗАМКИ", "ДОМОФОННЫЕ<br/> СИСТЕМЫ", "СИСТЕМЫ ЗАПИСИ<br/> ТЕЛЕФОННЫХ РАЗГОВОРОВ", "СЕТЕВОЕ<br/> ОБОРУДОВАНИЕ"]
    body
        include includes/top-panel.pug

        .wrapper
            include includes/header.pug

            include includes/header-links.pug
            main.main
                include includes/news.pug
                include includes/banner.pug
        
        script(src="js/scripts.min.js")
